@layer base {
  * {
    @apply border-border;
  }

  html {
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
  }

  body {
    font-family: var(--font-sans), sans-serif;
    font-size: var(--text-body);
    line-height: var(--text-body--line-height);
    letter-spacing: var(--text-body--letter-spacing);
    font-weight: var(--text-body--font-weight);
    @apply bg-background;
    color: var(--text, var(--foreground));
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

svg {
  width: auto !important;
  height: auto !important;
}

html body[data-scroll-locked] {
  overflow-y: scroll !important;
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner[type='number'] {
  -moz-appearance: textfield;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--border-strong) transparent;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--border-strong);
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--border-strong);
}

.gm-style-cc {
  display: none !important;
}

.gm-control-active {
  display: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--foreground);
}

.grecaptcha-badge {
  visibility: hidden !important;
}

@layer components {
  .floating-label {
    @apply relative transition-colors;
  }

  .peer:focus ~ .floating-label,
  .peer:not(:placeholder-shown) ~ .floating-label {
    @apply text-primary;
  }
}

number-flow-react::part(left),
number-flow-react::part(right),
number-flow-react::part(left)::after,
number-flow-react::part(right)::after,
number-flow-react::part(symbol) {
  padding: calc(var(--number-flow-mask-height, 0.25em) / 2) 0;
}

@keyframes animate-scroll-1 {
  0% {
    stroke-dashoffset: 1026px;
    stroke-dasharray: 1026px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1026px;
  }
}

.scroll-1 {
  animation: animate-scroll-1 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2s both;
}

@keyframes animate-scroll-2 {
  0% {
    stroke-dashoffset: 287.7044677734375px;
    stroke-dasharray: 287.7044677734375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 287.7044677734375px;
  }
}

.scroll-2 {
  animation: animate-scroll-2 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.12s both;
}

@keyframes animate-scroll-3 {
  0% {
    stroke-dashoffset: 66px;
    stroke-dasharray: 66px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 66px;
  }
}

.scroll-3 {
  animation: animate-scroll-3 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.24s both;
}

@keyframes animate-scroll-4 {
  0% {
    stroke-dashoffset: 66px;
    stroke-dasharray: 66px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 66px;
  }
}

.scroll-4 {
  animation: animate-scroll-4 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.36s both;
}

@keyframes animate-scroll-5 {
  0% {
    stroke-dashoffset: 597.95068359375px;
    stroke-dasharray: 597.95068359375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 597.95068359375px;
  }
}

.scroll-5 {
  animation: animate-scroll-5 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.48s both;
}
