[
    {
        "scope": "https://api.stripe.com:443",
        "method": "GET",
        "path": "/v1/payment_intents/pi_cassette_no_such_intent",
        "body": "",
        "status": 404,
        "response": {
            "error": {
                "code": "resource_missing",
                "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
                "message": "No such payment_intent: 'pi_cassette_no_such_intent'",
                "param": "intent",
                "request_log_url": "https://dashboard.stripe.com/acct_1RFLhKCaZvyVaDJO/test/workbench/logs?object=req_vOAxkLjJ5cXWRz",
                "type": "invalid_request_error"
            }
        },
        "rawHeaders": {
            "content-type": "application/json"
        }
    }
]