[
    {
        "scope": "https://api.stripe.com:443",
        "method": "POST",
        "path": "/v1/payment_intents",
        "body": "amount=5000&currency=usd&capture_method=automatic&automatic_payment_methods%5Benabled%5D=true&metadata%5Btype%5D=customer&metadata%5Buser_id%5D=SCRUBBED_USER_ID&metadata%5Bsession_id%5D=SCRUBBED_SESSION_ID",
        "status": 200,
        "response": {
            "id": "pi_3UBbzjCaZvyVaDJO0y3RNq37",
            "object": "payment_intent",
            "allowed_payment_method_types": null,
            "amount": 5000,
            "amount_capturable": 0,
            "amount_details": {
                "tip": {}
            },
            "amount_received": 0,
            "application": null,
            "application_fee_amount": null,
            "automatic_payment_methods": {
                "allow_redirects": "always",
                "enabled": true
            },
            "canceled_at": null,
            "cancellation_reason": null,
            "capture_method": "automatic",
            "client_secret": "pi_3UBbzjCaZvyVaDJO0y3RNq37_secret_SCRUBBED_SECRET",
            "confirmation_method": "automatic",
            "created": 1788447123,
            "currency": "usd",
            "customer": null,
            "customer_account": null,
            "description": null,
            "excluded_payment_method_types": null,
            "last_payment_error": null,
            "latest_charge": null,
            "livemode": false,
            "managed_payments": {
                "enabled": false
            },
            "metadata": {
                "session_id": "cassette-session",
                "type": "customer",
                "user_id": "cassette-user"
            },
            "next_action": null,
            "on_behalf_of": null,
            "payment_method": null,
            "payment_method_configuration_details": {
                "id": "pmc_1RFLhsCaZvyVaDJO2jArmOSJ",
                "parent": null
            },
            "payment_method_options": {
                "card": {
                    "installments": null,
                    "mandate_options": null,
                    "network": null,
                    "request_three_d_secure": "automatic"
                },
                "us_bank_account": {
                    "financial_connections": {
                        "permissions": [
                            "payment_method"
                        ],
                        "prefetch": []
                    },
                    "mandate_options": {},
                    "transaction_purpose": "unspecified",
                    "verification_method": "automatic"
                }
            },
            "payment_method_types": [
                "card",
                "us_bank_account"
            ],
            "processing": null,
            "receipt_email": null,
            "review": null,
            "setup_future_usage": null,
            "shared_payment_granted_token": null,
            "shipping": null,
            "source": null,
            "statement_descriptor": null,
            "statement_descriptor_suffix": null,
            "status": "requires_payment_method",
            "transfer_data": null,
            "transfer_group": null
        },
        "rawHeaders": {
            "content-type": "application/json"
        }
    },
    {
        "scope": "https://api.stripe.com:443",
        "method": "POST",
        "path": "/v1/payment_intents/pi_3UBbzjCaZvyVaDJO0y3RNq37",
        "body": "amount=367353",
        "status": 200,
        "response": {
            "id": "pi_3UBbzjCaZvyVaDJO0y3RNq37",
            "object": "payment_intent",
            "allowed_payment_method_types": null,
            "amount": 367353,
            "amount_capturable": 0,
            "amount_details": {
                "tip": {}
            }[...]
[...]
