[
    {
        "scope": "https://apis-sandbox.fedex.com:443",
        "method": "POST",
        "path": "/oauth/token",
        "body": "grant_type=client_credentials&client_id=SCRUBBED_CLIENT_ID&client_secret=SCRUBBED_CLIENT_SECRET",
        "status": 200,
        "response": {
            "access_token": "SCRUBBED_ACCESS_TOKEN",
            "token_type": "bearer",
            "expires_in": 3599,
            "scope": "CXS-TP"
        },
        "rawHeaders": {
            "content-type": "application/json;charset=UTF-8"
        }
    },
    {
        "scope": "https://apis-sandbox.fedex.com:443",
        "method": "POST",
        "path": "/ship/v1/shipments",
        "body": {
            "accountNumber": {
                "value": "SCRUBBED_ACCOUNT_NUMBER"
            },
            "labelResponseOptions": "LABEL",
            "requestedShipment": {
                "shipper": {
                    "contact": {
                        "personName": "Cassette Suite",
                        "phoneNumber": "7135551234"
                    },
                    "address": {
                        "streetLines": [
                            "6100 Main St"
                        ],
                        "city": "Houston",
                        "stateOrProvinceCode": "TX",
                        "postalCode": "77005",
                        "countryCode": "US",
                        "residential": true
                    }
                },
                "recipients": [
                    {
                        "contact": {
                            "personName": "Dorado Metals",
                            "phoneNumber": "7135551234"
                        },
                        "address": {
                            "streetLines": [
                                "1600 Lamar St"
                            ],
                            "city": "Houston",
                            "stateOrProvinceCode": "TX",
                            "postalCode": "77010",
                            "countryCode": "US",
                            "residential": false
                        }
                    }
                ],
                "packagingType": "YOUR_PACKAGING",
                "serviceType": "FEDEX_GROUND",
                "pickupType": "DROPOFF_AT_FEDEX_LOCATION",
                "groupPackageCount": 1,
                "requestedPackageLineItems": [
                    {
                        "weight": {
                            "units": "LB",
                            "value": 5
                        },
                        "dimensions": {
                            "length": 10,
                            "width": 8,
                            "height": 6,
                            "units": "IN"
                        }
                    }
                ],
                "labelSpecification": {
                    "imageType": "PNG",
                    "labelStockType": "PAPER_4X6"
                },
                "shippingChargesPayment": {
                    "paymentType": "SENDER",
                    "payor": {
                        "responsibleParty": {
                            "accountNumber": {
                                "value": "SCRUBBED_ACCOUNT_NUMBER"
                            }
                        }
                    }
                },
                "shipmentSpecialServices": {
                    "specialServiceTypes": [
                        "HOLD_AT_LOCATION"
                    ],
                    "holdAtLocationDetail": {
                        "locationId": "ADSK",
                        "locationContactAndAddress": {
                            "address": {
                                "streetLines": [
                                    "13605 Midway Rd"
                                ],
                                "city": "Farmers Branch",
                                "stateOrProvinceCode": "TX",
                                "postalCode": "75244",
                                "countryCode": "US"
                            },
                            "contact": {
                                "phoneNumber": "9727880816",
                                "companyName": "FedEx Office Print & Ship Center"
                            }
                        },
                        "locationType": "FEDEX_OFFICE"
                    }
                },
                "emailNotificationDetail": {
                    "aggregationType": "PER_SHIPMENT",
                    "emailNotificationRecipients": [
                        {
                            "name": "Dorado Shipping",
                            "emailNotificationRecipientType": "RECIPIENT",
                            "emailAddress": "shipping@doradometals.com",
                            "notificationFormatType": "HTML",
                            "notificationType": "EMAIL",
                            "locale": "en_US",
                            "notificationEventType": [
                                "ON_SHIPMENT",
                                "ON_EXCEPTION",
                                "ON_ESTIMATED_DELIVERY",
                                "ON_DELIVERY"
                            ]
                        }
                    ]
                }
            }
        },
        "status": 200,
        "response": {
            "transactionId": "c7d90d1d-f287-4112-b010-6e9f84ee7969",
            "output": {
                "transactionShipments": [
                    {
                        "masterTrackingNumber": "794859746626",
                        "serviceType": "FEDEX_GROUND",
                        "shipDatestamp": "2026-09-03",
                        "serviceName": "FedEx Ground®",
                        "pieceResponses": [
                            {
                                "masterTrackingNumber": "794859746626",
                                "deliveryDatestamp": "2026-09-04",
                                "trackingNumber": "794859746626",
                                "additionalChargesDiscount": 0,
                                "netRateAmount": 0,
                                "netChargeAmount": 0,
                                "netDiscountAmount": 0,
                                "packageDocuments": [
                                    {
                                        "contentType": "LABEL",
                                        "copiesToPrint": 1,
                                        "encodedLabel": "U0NSVUJCRURfTEFCRUw=",
                                        "docType": "PNG"
                                    }
                                ],
                                "currency": "USD",
                                "customerReferences": [],
                                "codcollectionAmount": 0,
                                "baseRateAmount": 16.48
                            }
                        ],
                        "shipmentAdvisoryDetails": {},
                        "completedShipmentDetail": {
                            "usDomestic": true,
                            "carrierCode": "FDXG",
                            "masterTrackingId": {
                                "trackingIdType": "FEDEX",
                                "trackingNumber": "794859746626"
                            },
                            "serviceDescription": {
                                "serviceId": "EP1000000134",
                                "serviceType": "FEDEX_GROUND",
                                "code": "92",
                                "names": [
                                    {
                                        "type": "long",
                                        "encoding": "utf-8",
                                        "value": "FedEx Ground®"
                                    },
                                    {
                                        "type": "long",
                                        "encoding": "ascii",
                                        "value": "FedEx Ground"
                                    },
                                    {
                                        "type": "medium",
                                [...]
[...]
    {
        "scope": "https://apis-sandbox.fedex.com:443",
        "method": "PUT",
        "path": "/ship/v1/shipments/cancel",
        "body": {
            "accountNumber": {
                "value": "SCRUBBED_ACCOUNT_NUMBER"
            },
            "trackingNumber": "794859746626"
        },
        "status": 200,
        "response": {
            "transactionId": "APIF_SV_SHPC_TxID3928f796-f4fe-427f-82b3-a46a3f2305b5",
            "output": {
                "alerts": [
                    {
                        "code": "VIRTUAL.RESPONSE",
                        "message": "This is a Virtual Response.",
                        "alertType": "NOTE"
                    }
                ],
                "cancelledShipment": true,
                "cancelledHistory": true
            }
        },
        "rawHeaders": {
            "content-type": "application/json"
        }
    }
]