[
    {
        "scope": "https://apis-sandbox.fedex.com:443",
        "method": "POST",
        "path": "/oauth/token",
        "body": "grant_type=client_credentials&client_id=SCRUBBED_CLIENT_ID&client_secret=SCRUBBED_CLIENT_SECRET",
        "status": 200,
        "response": {
            "access_token": "SCRUBBED_ACCESS_TOKEN",
            "token_type": "bearer",
            "expires_in": 3599,
            "scope": "CXS-TP"
        },
        "rawHeaders": {
            "content-type": "application/json;charset=UTF-8"
        }
    },
    {
        "scope": "https://apis-sandbox.fedex.com:443",
        "method": "POST",
        "path": "/rate/v1/comprehensiverates/quotes",
        "body": {
            "accountNumber": {
                "value": "SCRUBBED_ACCOUNT_NUMBER"
            },
            "rateRequestControlParameters": {
                "returnTransitTimes": true
            },
            "requestedShipment": {
                "shipDateStamp": "SCRUBBED_DATE",
                "shipper": {
                    "address": {
                        "streetLines": [
                            "6100 Main St"
                        ],
                        "city": "Houston",
                        "stateOrProvinceCode": "TX",
                        "postalCode": "77005",
                        "countryCode": "US",
                        "residential": false
                    }
                },
                "recipient": {
                    "address": {
                        "streetLines": [
                            "13605 Midway Rd"
                        ],
                        "city": "Farmers Branch",
                        "stateOrProvinceCode": "TX",
                        "postalCode": "75244",
                        "countryCode": "US",
                        "residential": false
                    }
                },
                "pickupType": "DROPOFF_AT_FEDEX_LOCATION",
                "packagingType": "YOUR_PACKAGING",
                "preferredCurrency": "USD",
                "rateRequestType": [
                    "PREFERRED",
                    "LIST"
                ],
                "requestedPackageLineItems": [
                    {
                        "weight": {
                            "units": "LB",
                            "value": 2
                        },
                        "dimensions": {
                            "length": 9,
                            "width": 6,
                            "height": 2,
                            "units": "IN"
                        },
                        "groupPackageCount": "1",
                        "declaredValue": {
                            "amount": 10000,
                            "currency": "USD"
                        }
                    }
                ],
                "shippingChargesPayment": {
                    "paymentType": "SENDER",
                    "payor": {
                        "responsibleParty": {
                            "accountNumber": {
                                "value": "SCRUBBED_ACCOUNT_NUMBER"
                            }
                        }
                    }
                }
            },
            "carrierCodes": [
                "FDXE"
            ]
        },
        "status": 200,
        "response": {
            "transactionId": "b2a4fdd1-4c15-412b-a8c8-8e0595938c79",
            "output": {
                "alerts": [
                    {
                        "code": "REQUESTEDSHIPMENT.PACKAGETYPE.CONVERTED",
                        "message": "FEDEX_EXTRA_SMALL_BOX is identified as the appropriate packaging type based on the provided dimensions and weight.",
                        "alertType": "WARNING"
                    }
                ],
                "rateReplyDetails": [
                    {
                        "serviceType": "FIRST_OVERNIGHT",
                        "serviceName": "FedEx First Overnight®",
                        "packagingType": "YOUR_PACKAGING",
                        "commit": {
                            "dateDetail": {
                                "dayOfWeek": "Wed",
                                "dayFormat": "2026-09-09T09:30:00"
                            },
                            "derivedOriginDetail": {
                                "countryCode": "US",
                                "stateOrProvinceCode": "TX",
                                "postalCode": "77005",
                                "serviceArea": "A1",
                                "locationId": "EIXA ",
                                "locationNumber": 0
                            },
                            "derivedDestinationDetail": {
                                "countryCode": "US",
                                "stateOrProvinceCode": "TX",
                                "postalCode": "75244",
                                "serviceArea": "A1",
                                "locationId": "SLRA ",
                                "locationNumber": 0,
                                "airportId": "DFW"
                            },
                            "saturdayDelivery": false
                        },
                        "ratedShipmentDetails": [
                            {
                                "rateType": "ACCOUNT",
                                "ratedWeightMethod": "ACTUAL",
                                "totalDiscounts": 0,
                                "totalBaseCharge": 98.44,
                                "totalNetCharge": 271.04,
                                "totalNetFedExCharge": 271.04,
                                "shipmentRateDetail": {
                                    "rateZone": "03",
                                    "dimDivisor": 139,
                                    "fuelSurchargePercent": 5,
                                    "totalSurcharges": 172.6,
                                    "totalFreightDiscount": 0,
                                    "surCharges": [
                                        {
                                            "type": "SIGNATURE_OPTION",
                                            "description": "Direct signature required",
                                            "amount": 0
                                        },
                                        {
                                            "type": "FUEL",
                                            "description": "Fuel Surcharge",
                                            "amount": 5.05
                                        },
                                        {
                                            "type": "INSURED_VALUE",
                                            "description": "Declared Value",
                                            "amount": 165
                                        },
                                        {
                                            "type": "DEMAND",
                                            "description": "Demand Surcharge",
                                            "amount": 2.55
                                        }
                                    ],
                                    "pricingCode": "PACKAGE",
                                    "totalBillingWeight": {
                                        "units": "LB",
                                        "value": 2
                                    },
                                    "currency": "USD",
                                    "rateScale": "8"
                                },
                                "ratedPackages": [
                                    {
                                        "groupNumber": 0,
                                        "effectiveNetDiscount": 0,
                                        "packageRateDetail": {
                                            "rateType": "PAYOR_ACCOUNT_PACKAGE",
                                            "ratedWeightMethod": "ACTUAL",
                                            "baseCharge": 98.44,
                                            "netFreight": 98.44,
                                            "totalSurcharges": 172.6,
                                            "netFedExCharge": 271.04,
                                            "totalTaxes": 0,
                                            "netCharge": 271.04,
                                            "totalRebates": 0,
                                            "billingWeight": {
                                                "units": "LB",
                                                "value": 2
                                            },
                                            "totalFreightDiscounts": 0,
                                            "surcharges": [
                                                {
                                                    "type": "SIGNATURE_OPTION",
                                                    "description": "Direct signature required",
                                                    "amount": 0
                                                },
                                                {
                                                    "type": "FUEL",
                                      [...]
