[
    {
        "scope": "https://apis-sandbox.fedex.com:443",
        "method": "POST",
        "path": "/oauth/token",
        "body": "grant_type=client_credentials&client_id=SCRUBBED_CLIENT_ID&client_secret=SCRUBBED_CLIENT_SECRET",
        "status": 200,
        "response": {
            "access_token": "SCRUBBED_ACCESS_TOKEN",
            "token_type": "bearer",
            "expires_in": 3599,
            "scope": "CXS-TP"
        },
        "rawHeaders": {
            "content-type": "application/json;charset=UTF-8"
        }
    },
    {
        "scope": "https://apis-sandbox.fedex.com:443",
        "method": "POST",
        "path": "/rate/v1/comprehensiverates/quotes",
        "body": {
            "accountNumber": {
                "value": "SCRUBBED_ACCOUNT_NUMBER"
            },
            "rateRequestControlParameters": {
                "returnTransitTimes": true
            },
            "requestedShipment": {
                "shipDateStamp": "SCRUBBED_DATE",
                "shipper": {
                    "address": {
                        "streetLines": [
                            "6100 Main St"
                        ],
                        "city": "Houston",
                        "stateOrProvinceCode": "TX",
                        "postalCode": "77005",
                        "countryCode": "US",
                        "residential": true
                    }
                },
                "recipient": {
                    "address": {
                        "streetLines": [
                            "1600 Lamar St"
                        ],
                        "city": "Houston",
                        "stateOrProvinceCode": "TX",
                        "postalCode": "77010",
                        "countryCode": "US",
                        "residential": false
                    }
                },
                "pickupType": "DROPOFF_AT_FEDEX_LOCATION",
                "packagingType": "YOUR_PACKAGING",
                "preferredCurrency": "USD",
                "rateRequestType": [
                    "PREFERRED",
                    "LIST"
                ],
                "requestedPackageLineItems": [
                    {
                        "weight": {
                            "units": "LB",
                            "value": 5
                        },
                        "dimensions": {
                            "length": 10,
                            "width": 8,
                            "height": 6,
                            "units": "IN"
                        },
                        "groupPackageCount": "1"
                    }
                ],
                "shippingChargesPayment": {
                    "paymentType": "SENDER",
                    "payor": {
                        "responsibleParty": {
                            "accountNumber": {
                                "value": "SCRUBBED_ACCOUNT_NUMBER"
                            }
                        }
                    }
                }
            },
            "carrierCodes": [
                "FDXE"
            ]
        },
        "status": 200,
        "response": {
            "transactionId": "0d6acee8-4bd1-4b62-a1f8-061d5df05832",
            "output": {
                "alerts": [
                    {
                        "code": "REQUESTEDSHIPMENT.PACKAGETYPE.CONVERTED",
                        "message": "FEDEX_MEDIUM_BOX is identified as the appropriate packaging type based on the provided dimensions and weight.",
                        "alertType": "WARNING"
                    }
                ],
                "rateReplyDetails": [
                    {
                        "serviceType": "FIRST_OVERNIGHT",
                        "serviceName": "FedEx First Overnight®",
                        "packagingType": "YOUR_PACKAGING",
                        "commit": {
                            "dateDetail": {
                                "dayOfWeek": "Fri",
                                "dayFormat": "2026-09-04T08:00:00"
                            },
                            "derivedOriginDetail": {
                                "countryCode": "US",
                                "stateOrProvinceCode": "TX",
                                "postalCode": "77005",
                                "serviceArea": "A1",
                                "locationId": "EIXA ",
                                "locationNumber": 0
                            },
                            "derivedDestinationDetail": {
                                "countryCode": "US",
                                "stateOrProvinceCode": "TX",
                                "postalCode": "77010",
                                "serviceArea": "A1",
                                "locationId": "EIXA ",
                                "locationNumber": 0,
                                "airportId": "IAH"
                            },
                            "saturdayDelivery": false
                        },
                        "ratedShipmentDetails": [
                            {
                                "rateType": "ACCOUNT",
                                "ratedWeightMethod": "ACTUAL",
                                "totalDiscounts": 0,
                                "totalBaseCharge": 86,
                                "totalNetCharge": 91.67,
                                "totalNetFedExCharge": 91.67,
                                "shipmentRateDetail": {
                                    "rateZone": "02",
                                    "dimDivisor": 139,
                                    "fuelSurchargePercent": 5,
                                    "totalSurcharges": 5.67,
                                    "totalFreightDiscount": 0,
                                    "surCharges": [
                                        {
                                            "type": "FUEL",
                                            "description": "Fuel Surcharge",
                                            "amount": 4.37
                                        },
                                        {
                                            "type": "DEMAND",
                                            "description": "Demand Surcharge",
                                            "amount": 1.3
                                        }
                                    ],
                                    "pricingCode": "PACKAGE",
                                    "totalBillingWeight": {
                                        "units": "LB",
                                        "value": 5
                                    },
                                    "currency": "USD",
                                    "rateScale": "6"
                                },
                                "ratedPackages": [
                                    {
                                        "groupNumber": 0,
                                        "effectiveNetDiscount": 0,
                                        "packageRateDetail": {
                                            "rateType": "PAYOR_ACCOUNT_PACKAGE",
                                            "ratedWeightMethod": "ACTUAL",
                                            "baseCharge": 86,
                                            "netFreight": 86,
                                            "totalSurcharges": 5.67,
                                            "netFedExCharge": 91.67,
                                            "totalTaxes": 0,
                                            "netCharge": 91.67,
                                            "totalRebates": 0,
                                            "billingWeight": {
                                                "units": "LB",
                                                "value": 5
                                            },
                                            "totalFreightDiscounts": 0,
                                            "surcharges": [
                                                {
                                                    "type": "FUEL",
                                                    "description": "Fuel Surcharge",
                                                    "amount": 4.37
                                                },
                                                {
                                                    "type": "DEMAND",
                                                    "description": "Demand Surcharge",
                                                    "amount": 1.3
                                                }
                                            ],
                                            "currency": "USD"
                                        },
                                        "sequenceNumber": 1
                                    }
                                ],
                                "currency": "USD"
                            },
                            {
                                "rateType": "LIST",
                                "ratedWeightMethod": "ACTUAL",
                                "totalDiscounts": 0,
                                "totalBaseCharge": 86,
                                "totalNetCharge": 91.67,
                                "[...]
